body{
    margin: 0;
}
form{
    margin: 10px 20px;
    height: 100%;
    width: 77%;
    float: left;
}
input{
    padding: 0;
    margin-left: 30px;
}
.submit{
    margin: 20px 0;
}
select{
    padding: 0;
    margin-left: 30px;
}
h1{
    width: 77%;
    float: right;
    margin: 0 0 20px 0;
}
table{
    margin: 10px 20px;
    height: 500px;
    width: 77%;
}