{% load static %}
{% block solution %}
<link rel="stylesheet" href="{% static 'css/customer.css' %}">

        <div class="navbar">
            <div class="navbar_class">
                <li><a href="../admin">Thông tin</a></li>
            </div>
            <div class="navbar_class">
                <li><a href="../rechard">nạp tiền</a></li>
            </div>
            <div class="navbar_class">
                <li><a href="../listgame">Game đã sở hữu</a></li>
            </div>
            <div class="navbar_class">
                <li><a href="../history_rechard">Lịch sử nạp game</a></li>
            </div>
        </div>
{% endblock %}