{% load static %}
    <link rel="stylesheet" href="../css/customer.css">
    <link rel="stylesheet" href="../css/rechard.css">
    {% block body %}
    
    {% endblock %}
    <div class="main">
        <table border="1">
            <tr>
                <td style="width: 100px;">Thời Gian Mua</td>
                <td style="width: 200px;">Tên thẻ</td>
                <td style="width: 150px;">Số Tiền</td>
                <td style="width: 100px;">Trạng thái</td>
            </tr>
        </table>
    </div>
</body>
</html>