{% load static %}
    <title>Document</title>
    <link rel="stylesheet" href="../css/customer.css">
    <link rel="stylesheet" href="../css/rechard.css">
    {% block body %}
    
    {% endblock %}
    <div class="main">
        <table border="1" width="100%">
            <tr>
                <td style="width: 100px;">Id</td>
                <td>hình ảnh</td>
                <td style="width: 200px;">Tên game</td>
                <td>Cấu hình</td>
                <td style="width: 100px;">Thời Gian Mua</td>
                <td style="width: 150px;">Số Tiền</td>
            </tr>
        </table>
    </div>