{% load static %}
    <link rel="stylesheet" href="../css/customer.css">
    <link rel="stylesheet" href="../css/information.css">
    {% block body %}
    
    {% endblock %}
    <h1>Nạp tiền</h1>
    <form>
        <table>
            <tr>
                <td>Số tiền cần nạp</td>
                <td>
                    <select>
                        <option value="1"></option>
                        <option value="2">10.000 VND</option>
                        <option value="3">20.000 VND</option>
                        <option value="4">50.000 VND</option>
                        <option value="5">100.000 VND</option>
                        <option value="6">200.000 VND</option>
                        <option value="7">500.000 VND</option>
                        <option value="8">1.000.000 VND</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Chọn thẻ cào</td>
                <td>
                    <select>
                        <option value="1"></option>
                        <option value="2">mobifone</option>
                        <option value="3">vinaphone</option>
                        <option value="4">viettel</option>
                        <option value="5">gate</option>
                        <option value="6">garena</option>
                        <option value="7">zing</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Nhâp mã Code</td>
                <td><input type="text" name="Idcode"></td>
            </tr>
            <tr>
                <td>Nhập seri</td>
                <td><input type="text" name="Seri"></td>
            </tr>
        </table>
        <input type="submit" class="submit" value="Nạp tiền">
    </form>
