{% load static %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
    <div class="logins">
        <form action="" class="form_login">
        <h1> Register</h1>
        <div class="form_group">
            <input type="text" class="form_input" placeholder="username">
        </div>
        <div class="form_group">
            <input type="text" class="form_input" placeholder="password">
        </div>
        <div class="form_group">
            <input type="text" class="form_input" placeholder="Email">
        </div>
        <div class="form_group">
            <input type="text" class="form_input" placeholder="Phone">
        </div>
        <button class="form_submit" placeholder="form_submit">Đăng ký</button>
        <button class="form_submit" placeholder="form_submit">Quay lại</button>
        </form>
    </div>
